@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ping a website</p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <input class="urlBox form-control" placeholder="URL here"/>
        <br/>
        <a class="btn btn-info" onclick="pingUri()">Ping</a> |
        <a class="btn btn-secondary" onclick="BrowsePage()">View URL</a>
        <p class="error-msg"></p>
        <fieldset>
            <legend>
                Ping Results
            </legend>
            <ul class="result-list">
            </ul>
        </fieldset>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <embed class="viewPanel" />
    </div>
</div>


@section Scripts {
    <script>
        function createLink(hrefValue){
            let anchor = document.createElement("a");
            anchor.setAttribute("href", hrefValue);
            anchor.textContent = hrefValue;
            anchor.setAttribute("class", "console");
            return anchor;
        }
        function pingUri() {
            var caller = new Service();
            if (document.querySelector(".control")) {
                return;
            }
            caller.get("/Home/Check?q=" + document.querySelector(".urlBox").value, function (data) {

                document.querySelector(".error-msg").replaceChildren();
                let item = document.createElement("li"), list = document.querySelector("ul.result-list");
                let spanElem = document.createElement("span");
                spanElem.textContent = " Status: " + data.isSuccessful + " at " + data.returnedAtUtc;
                item.append(createLink(document.querySelector(".urlBox").value));
                item.append(spanElem);
                list.appendChild(item);
            }, function (e) {
                document.querySelector(".error-msg").innerHTML = ("Ping Not Sucessful");
            });
        }
        function BrowsePage() {
            document.querySelector(".viewPanel").setAttribute("src", document.querySelector(".urlBox").value);
        }
    </script>
}