@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello !</h1>
    <p>Ping a website</p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <input class="urlBox form-control" placeholder="URL here"/>
        <br/>
        <a class="btn btn-info" onclick="pingUri()">Ping</a> |
        <a class="btn btn-secondary" onclick="BrowsePage()">View URL</a>
        <p class="error-msg"></p>
        <fieldset>
            <legend>
                Ping Results
            </legend>
            <dl class="result-list">
            </dl>
        </fieldset>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <embed class="viewPanel" />
    </div>
</div>


@section Scripts {
    <script>
        function createLink(hrefValue){
            let anchor = document.createElement("a");
            anchor.setAttribute("href", hrefValue);
            anchor.setAttribute("target", "_blank");
            anchor.textContent = hrefValue;
            anchor.setAttribute("class", "console");
            return anchor;
        }
        function createPingListItem(pingStatus) {
            let dtElem = document.createElement("dt"), list = document.querySelector("dl.result-list");
            let link = createLink(document.querySelector(".urlBox").value);
            let statusDd = document.createElement("dd"), timeDd=document.createElement("dd");
            statusDd.textContent = " Ping Successful: " + pingStatus.isSuccessful;
            timeDd.textContent = " at " + GenerateStandardDate(pingStatus.isSuccessful ? pingStatus.returnedAtUtc : Date.now());
            statusDd.setAttribute("class", "status-result");
            timeDd.setAttribute("class", "utc-result");
            dtElem.append(link);
            list.prepend(timeDd);
            list.prepend(statusDd);
            list.prepend(dtElem);
        }
        function pingUri() {
            var caller = new Service();
            if (document.querySelector(".control")) {
                return;
            }
            caller.get("/Home/Check?q=" + document.querySelector(".urlBox").value, function (data) {

                document.querySelector(".error-msg").replaceChildren();
                createPingListItem(data);
            }, function (e) {
                document.querySelector(".error-msg").innerHTML = ("Ping Not Sucessful");
                console.error(e);
            });
        }
        function BrowsePage() {
            document.querySelector(".viewPanel").setAttribute("src", document.querySelector(".urlBox").value);
        }
    </script>
}